html {
    background-color: #EEEEEE;
    color: #888888;
}

body {
    margin: 0;
    font-family: monospace;
    font-size: 32px;
}

header {
    padding: 32px 0 32px 0;
    background-color: #444444;
    color: #EEEEEE
}

main {
    padding: 32px 0 32px 0;
}

ul {
    width: 800px;
    margin: 0 auto 0 auto;
    list-style: none;
    padding-left: 0;
}

li {
    margin: 0 4px 0 4px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}