html {
    padding: 48px;
}

body {
    width: 800px;
    margin: auto;
    font-family: monospace;
    font-size: 32px;
}

header {
    margin-bottom: 48px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    margin-top: 4px;
    margin-bottom: 4px;
}